@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Inter", sans-serif;
    transition: background-color 1s ease, color 1s ease 0.1s;
}

:root {
    --mainDark-bgcolor: #101827;
    
    --heroSpanName--color: #7865E9;
    --text-color: #fff;
    --text50-color: #adadad;
    
    --preview-bgcolor: #232442;

    --heroDiv2Btn-color: #adadad;
    --heroDiv2Btn-bgcolor: #272d3b;
    --heroDiv2BtnHover-bgcolor: #36374f;
    
    --cardBody-bgcolor: #171E2E;
    
    --logoGrad1--bgcolor: rgba(120, 101, 233, 1);
    --logoGrad2--bgcolor: rgba(59, 214, 219, 1);
    
    --forGradient-bg: rgba(35, 36, 66, 1);

    --input-color: #adadad;
    --input-bgcolor: #192334;
}

body.light-mode {
    --mainDark-bgcolor: #ffe0ba;
    
    --heroSpanName--color: #ff9f2a;
    --text-color: #000;
    --text50-color: #4f4f4f;
    
    --preview-bgcolor: #ff8c00;
    
    --heroDiv2Btn-color: #fee2bf;
    --heroDiv2Btn-bgcolor: #ff9a1f;
    --heroDiv2BtnHover-bgcolor: #ef8300;
    
    --cardBody-bgcolor: #ffbb67;
    
    --logoGrad1--bgcolor: #ff8c00;
    --logoGrad2--bgcolor: #e3ff00;

    --forGradient-bg: #ff9f2a;

    --input-color: #ffecdb;
    --input-bgcolor: #ffac47;
}


.dark-bgcolor {
    background-color: var(--mainDark-bgcolor);
}


.logo {
    width: fit-content;
    background: #7865E9;
    background: linear-gradient(90deg, var(--logoGrad1--bgcolor) 0%, var(--logoGrad2--bgcolor) 100%);
}

#toggleTheme {
    border: 1px solid var(--text50-color);
    transition: scale 0.4s ease-out, font-size 0.4s ease-out;
}

#toggleTheme:hover {
    font-size: large;
    border-color: var(--text-color);
    border-width: 2px;
    scale: 1.05;
}


a {
    color: var(--text50-color);
    position: relative;
}

a:hover {
    color: var(--text-color);
    text-decoration: none;
}

/* <a> animated underline on hover */
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2.5px;
    background: var(--text-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

a:hover::after {
    transform: scaleX(1);
}


/* nav Starts from here */
@keyframes fadeDown {
    0% {
        transform: translateY(-200px);
    }
    70% {
        transform: translateY(20px);
    }
    85% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

nav {
    animation: fadeDown 0.8s ease-in;
}

.navLi1, .navLi2, .navLi3, .navLi4 {
    transform: translateY(-300px);
}

.navLi1 {
    animation: fadeDown 0.8s ease-in 0.4s forwards;
}
.navLi2 {
    animation: fadeDown 0.8s ease-in 0.5s forwards;
}
.navLi3 {
    animation: fadeDown 0.8s ease-in 0.6s forwards;
}
.navLi4 {
    animation: fadeDown 0.8s ease-in 0.7s forwards;
}

.navDiv1LogoDivh4 {
    color: var(--text-color);
}

.navDiv1LogoDivSpan {
    color: var(--text50-color);
}

/* nav Ends here */


/* main Start from here */
main {
    color: var(--text-color);
}

/* hero Start from here */
.hero {
    width: 100%;
    background: var(--preview-bgcolor);
    background: linear-gradient(172deg, var(--forGradient-bg) 0%, var(--mainDark-bgcolor) 28%);
}

.hero span {
    color: var(--heroSpanName--color);
    opacity: 1;
    transition: color 0.1s ease;
}



@keyframes goUpLittleJump {
    0% {
        transform: translate(0px , 500px);
    }
    70% {
        transform: translate(0px , -10px);
    }
    85% {
        transform: translate(0px , 20px);
    }
    100% {
        transform: translate(0px , 0px);
    }
}

.heroDiv1 h2 {
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 0.3s forwards;
}
.heroDiv1 p {
    color: var(--text50-color);
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 0.6s forwards;
}
.heroDiv1 button {
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 0.9s forwards;
}
.heroDiv1 a {
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 1s forwards;
}



/* hero Card div Starts from here */
.heroDiv2 {
    animation: goUpLittleJump 0.8s ease-in;
    background: var(--cardBody-bgcolor);
}

.heroDiv2Logo {
    background: #3BD6DB;
    background: linear-gradient(0deg, var(--logoGrad1--bgcolor) 0%, var(--logoGrad2--bgcolor) 100%);
}

.heroDiv2ProjectPreview {
    color: #fff;
    height: 50dvh;
    background: var(--preview-bgcolor);
}

/* also about Section button styling */
.heroDiv2 button,
#aboutSection button {
    color: var(--heroDiv2Btn-color);
    background-color: var(--heroDiv2Btn-bgcolor);
}

.heroDiv2 button:hover,
#aboutSection button:hover {
    color: #fff;
    background-color: var(--heroDiv2BtnHover-bgcolor);
    box-shadow: 0 0 20px var(--heroDiv2BtnHover-bgcolor);
}

/* hero Ends here */





/* Feature Projects Card Section Starts from here */
.cardsDiv {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.cardCustom {
    width: 18rem;
}

.cardCustomBody {
    color: var(--text-color);
    background-color: var(--cardBody-bgcolor);
}

.cardCustomBody p {
    color: var(--text50-color);
}

.cardPhoto {
    color: var(--text-color);
    aspect-ratio: 16/9;
    background: var(--preview-bgcolor);
}

/* Feature Projects Card Section Ends here */





/* About Section Starts from here */
#aboutSection p {
    color: var(--text50-color);
}
/* About Section Ends here */





/* Contact Section Starts from here  */

.contactSectionForm {
    color: var(--text50-color);
}

#contactSectionCard {
    height: fit-content;
    background: var(--cardBody-bgcolor);
}

input {
    /* color: var(--text-color); */
    background-color: var(--input-bgcolor);
}

input::placeholder {
    color: var(--input-color);
}
/* Contact Section Ends here  */

/* main Ends here */



hr {
    color: var(--text50-color);
}



/* footer Starts from here */
footer {
    color: var(--text50-color);
}
/* footer Ends here */





/* magic line (The line that goes left to right on UI) */
.magicLine::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1000%;
    height: 2px;
    transform: translateX(10px);
    background: var(--text50-color);
}










@media (max-width: 786px) {

    #toggleTheme:hover {
        font-size: normal;
        scale: 1;
    }
}