@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Inter", sans-serif;
    /* border: 1px solid; */
}

/* main bg-color:             #101827 */
/* hero section bg-color:     #161B31 */
/* hero div 2 bg-color:       #171E2E */
/* card photo bg:             #232442 */
/* mariha heading color:      #7A68E5 */



:root {
    --whiteText-color: #fff;
    --whiteText50-color: rgb(173, 173, 173);

    --cardBg-color: #171E2E;
}




.dark-bgcolor {
    background-color: #101827;
}


.logo {
    width: fit-content;
    background: #7865E9;
    background: linear-gradient(90deg, rgba(120, 101, 233, 1) 0%, rgba(59, 214, 219, 1) 100%);
}

#toggleTheme {
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: scale 0.3s ease-out, font-size 0.3s ease-out;
}

#toggleTheme:hover {
    font-size: large;
    border-color: #fff;
    scale: 1.05;
}


a {
    color: var(--whiteText50-color);
    position: relative;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

/* <a> animated underline on hover */
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}

a:hover::after {
    transform: scaleX(1);
}


/* nav Starts from here */
@keyframes fadeDown {
    0% {
        transform: translateY(-200px);
    }
    70% {
        transform: translateY(20px);
    }
    85% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px);
    }
}

nav {
    animation: fadeDown 0.8s ease-in;
}

.navLi1, .navLi2, .navLi3, .navLi4 {
    transform: translateY(-300px);
}

.navLi1 {
    animation: fadeDown 0.8s ease-in 0.4s forwards;
}
.navLi2 {
    animation: fadeDown 0.8s ease-in 0.5s forwards;
}
.navLi3 {
    animation: fadeDown 0.8s ease-in 0.6s forwards;
}
.navLi4 {
    animation: fadeDown 0.8s ease-in 0.7s forwards;
}

/* nav Ends here */


/* main Start from here */
main {
    color: var(--whiteText-color);
}

/* hero Start from here */
.hero {
    width: 100%;
    background: #232442;
    background: linear-gradient(172deg, rgba(35, 36, 66, 1) 0%, rgba(16, 24, 39, 1) 28%);
}

.hero span {
    color: #7865E9;
}



@keyframes goUpLittleJump {
    0% {
        transform: translate(0px , 500px);
    }
    70% {
        transform: translate(0px , -10px);
    }
    85% {
        transform: translate(0px , 20px);
    }
    100% {
        transform: translate(0px , 0px);
    }
}

.heroDiv1 h2 {
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 0.3s forwards;
}
.heroDiv1 p {
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 0.6s forwards;
}
.heroDiv1 button {
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 0.9s forwards;
}
.heroDiv1 a {
    transform: translate(0px , 500px);
    animation: goUpLittleJump 0.8s ease-in 1s forwards;
}



/* hero Card div Starts from here */
.heroDiv2 {
    animation: goUpLittleJump 0.8s ease-in;
    background: #171E2E;
}

.heroDiv2Logo {
    background: #3BD6DB;
    background: linear-gradient(0deg, rgba(59, 214, 219, 1) 0%, rgba(120, 101, 233, 1) 100%);
}

.heroDiv2ProjectPreview {
    height: 50dvh;
    background: #232442;
}

/* also about Section button styling */
.heroDiv2 button,
#aboutSection button {
    color: var(--whiteText50-color);
    background-color: #272d3b;
}

.heroDiv2 button:hover,
#aboutSection button:hover {
    color: var(--whiteText-colora);
    background-color: #36374f;
    box-shadow: 0 0 20px #36374f;
}

/* hero Ends here */





/* Feature Projects Card Section Starts from here */
.cardsDiv {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.cardCustom {
    width: 18rem;
}

.cardCustomBody {
    background-color: var(--cardBg-color);
}

.cardPhoto {
    aspect-ratio: 16/9;
    background: #232442;
}

/* Feature Projects Card Section Ends here */





/* Contact Section Starts from here  */
#contactSectionCard {
    height: fit-content;
    background: var(--cardBg-color);
}

input {
    color: var(--whiteText-color);
    background-color: #192334;
}
/* Contact Section Ends here  */

/* main Ends here */




/* magic line (The line that goes left to right on UI) */
.magicLine::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 1000%;
    height: 2px;
    transform: translateX(10px);
    background: #ffffff63;
}










@media (max-width: 786px) {

    #toggleTheme:hover {
        font-size: normal;
        scale: 1;
    }
}